* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Iosevka Nerd Font";
    font-size: 18px;
}

window#waybar {
    background-color: rgba(30,30,50,0.8); /* #1e1e32 with 80% trans */
    color: #a3a3cc;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -4px transparent;
    /* Avoid rounded borders under each button name */
    border-radius: 0px;
}

/* workspaces */

#workspaces button {
    padding: 0 4px;
    color: #7a52cc;
}

#workspaces button:hover {
    color: #967ACC;
}

#workspaces button.active {
    color: #967ACC;
    box-shadow: inset 0 -4px #967ACC;
}

#workspaces button.urgent {
    color: #ff6666;
    box-shadow: inset 0 -4px #ff6666;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* battery */

#battery {
    color: #a3a3cc;
}

#battery.charging, #battery.plugged {
    color: #52CCA3;
}

#battery.warning:not(.charging) {
    color: #ff6666;
}

#battery.critical:not(.charging) {
    color: #ff6666;
    font-weight: bold;
}

#pulseaudio,
#temperature,
#memory,
#cpu,
#backlight,
#custom-swaync,
#battery {
    padding: 6px 12px;
}

#pulseaudio {
    color: #ff6666;
}

#temperature {
    color: #FF9966;
}

#temperature.critical {
    color: #ff6666;
}

#memory {
    color: #FFCC66;
}

#cpu {
    color: #52CCA3;
}

#backlight {
    color: #527ACC;
}

#custom-swaync {
    color: #7a52cc;
}
