* {
  font-family: "NotoSansM Nerd Font Propo";
  font-size: 16px;
  color: #a3a3cc;
}

.icon {
  font-size: 24px;
}

@define-color red #ff6666;
@define-color redAlt #ff9999;
@define-color redDark #cc5252;
@define-color orange #ff9966;
@define-color orangeAlt #ffbb99;
@define-color yellow #ffcc66;
@define-color yellowAlt #ffdd99;
@define-color green #52cca3;
@define-color greenAlt #7accb1;
@define-color greenDark #3d997a;
@define-color teal #52CCCC;
@define-color tealAlt #7ACCCC;
@define-color cyan #52A3CC;
@define-color cyanAlt #7AB1CC;
@define-color blue #527ACC;
@define-color blueAlt #7A96CC;
@define-color purple #7a52cc;
@define-color purpleAlt #967acc;
@define-color pink #cc52a3;
@define-color pinkAlt #cc7ab1;
@define-color primary #7a52cc;
@define-color primaryAlt #967acc;
@define-color primaryDark #5c3d99;
@define-color extra #52cca3;
@define-color extraAlt #7accb1;
@define-color extraDark #3d997a;
@define-color bgExtra #181829;
@define-color black #1e1e32;
@define-color gray #3d3d66;
@define-color grayAlt #5c5c99;
@define-color white #a3a3cc;
@define-color fg #a3a3cc;
@define-color bg3 #5c5c99;
@define-color bg2 #3d3d66;
@define-color bg1Alt #282842;
@define-color bg1 #1e1e32;
@define-color bg0 #181829;

.red { color: @red; }
.redAlt { color: @redAlt; }
.orange { color: @orange; }
.orangeAlt { color: @orangeAlt; }
.yellow { color: @yellow; }
.yellowAlt { color: @yellowAlt; }
.green { color: @green; }
.greenAlt { color: @greenAlt; }
.greenDark { color: @greenDark; }
.teal { color: @teal; }
.tealAlt { color: @tealAlt; }
.cyan { color: @cyan; }
.cyanAlt { color: @cyanAlt; }
.blue { color: @blue; }
.blueAlt { color: @blueAlt; }
.purple { color: @purple; }
.purpleAlt { color: @purpleAlt; }
.pink { color: @pink; }
.pinkAlt { color: @pinkAlt; }
.primary { color: @primary; }
.primaryAlt { color: @primaryAlt; }
.primaryDark { color: @primaryDark; }
.extra { color: @extra; }
.extraAlt { color: @extraAlt; }
.extraDark { color: @extraDark; }
.bgExtra { background-color: @bgExtra; }
.black { color: @black; }
.gray { color: @gray; }
.grayAlt { color: @grayAlt; }
.white { color: @white; }
.fg { color: @fg; }
.bg3 { background-color: @bg3; }
.bg2 { background-color: @bg2; }
.bg1Alt { background-color: @bg1Alt; }
.bg1 { background-color: @bg1; }
.bg0 { background-color: @bg0; }

button,
button label {
  background: @bg1;
  color: @fg;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  opacity: 1;
  box-shadow: none;
}

button:hover,
button:hover label {
  background: @bg1;
  color: @primary;
  border: none;
  outline: none;
  opacity: 1;
  box-shadow: none;
}

progressbar,
progressbar trough,
progressbar progress {
  border-radius: 0.6rem;
  min-width: 2rem;
  outline: none;
  opacity: 1;
  box-shadow: none;
}

progressbar {
  min-height: 12rem;
  border: 0.2rem solid @bg0;
}

progressbar trough {
  background: @bg1;
  border: none;
}

progressbar progress {
  background: @primary;
  border: none;
}

.sideBar {
  background: transparent;
}

.sideBar label {
  min-width: 4rem;
}

.sideBar .volume.amp label,
.sideBar .volume.unmuted label {
  color: @red;
}

.sideBar .volume.amp progressbar progress,
.sideBar .volume.unmuted progressbar progress {
  background: @red;
}

.sideBar .battery.charging label {
  color: @green;
}

.sideBar .battery.charging progressbar progress {
  background: @green;
}

.sideBar .battery.low label {
  color: @red;
}

.sideBar .battery.low progressbar progress {
  background: @red;
}

.sideBar .battery.charging.low label {
  color: @orange;
}

.sideBar .battery.charging.low progressbar progress {
  background: @orange;
}

.topBar {
  background: @bg1;
}

.topBar .logo {
  padding: 2px 20px;
}
