* {
  font-family: "NotoSansM Nerd Font Propo";
  font-size: 16px;
  color: #a3a3cc;
}

.icon {
  font-size: 20px;
}

.sideBar {
  background: transparent;
}

.sideBar volume,
.sideBar brightness,
.sideBar battery {
  padding-top: 200px;
}

progressbar {
  min-height: 12rem;
}

progressbar,
progressbar trough,
progressbar progress {
  border-radius: 0.6rem;
  border: none;
  min-width: 2rem;
}

progressbar trough {
  background-color: #282842;
}

progressbar progress {
  background-color: #7a52cc;
}

.sideBar .volume.amp label,
.sideBar .volume.unmuted label {
  color: #ff6666;
}

.sideBar .volume.amp progressbar progress,
.sideBar .volume.unmuted progressbar progress {
  background-color: #ff6666;
}

.sideBar .battery.charging label {
  color: #52CCA3;
}

.sideBar .battery.charging progressbar progress {
  background-color: #52CCA3;
}

.sideBar .battery.low label {
  color: #ff6666;
}

.sideBar .battery.low progressbar progress {
  background-color: #ff6666;
}

.sideBar .battery.charging.low label {
  color: #FF9966;
}

.sideBar .battery.charging.low progressbar progress {
  background-color: #FF9966;
}
